.navbarContainer {
    max-width: 1200px;
    width: 100%;
}

.categoryLinks {
    display: flex;
    align-items: center;
    gap: 40px;
}

.categoryLinks a{
    font-size: 18px;
    font-weight: 700;
    color: #424242;
}

.categoryLinks a:hover {
    color: #D05270;
    border-bottom: 1px solid #D05270;
}

.categoryLinks a:active{
    color:#D05270 !important;
    border-bottom: 1px solid #D05270;
}