.poster {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 87px;
}

.posterText h1 {
  margin-left: 30px;
  font-size: 52px;
  font-weight: 700;
  color: #d05270;
}

.posterText h3 {
  margin-left: 30px;
  font-size: 52px;
  font-weight: 500;
  color: #424242;
}

.posterText p {
  width: 630px;
  font-size: 18px;
  line-height: 22px;
  color: #424242;
  margin-top: 25px;
  margin-bottom: 45px;
}

.buttons {
  display: flex;
  gap: 18px;
  margin-left: 30px;
}

.mediaBtn {
  width: 200px;
  height: 50px;
  border: none;
  color: #fff;
}

.twitter {
  background-color: #47acdf;
}

.linkedin {
  background-color: #1275b1;
}

.medium {
  background-color: #000;
}
